.top-performers {
  margin: 2rem 4rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.performer-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.performer-row.title * {
  color: black;
  font-size: 20px;
  font-family: var(--main-font);
}

.display {
  font-size: 2.2rem;
  font-weight: 600;
  color: darkorange;
  text-align: left;
  width: 40%;
}

.ipa {
  font-size: 2.2rem;
  font-weight: 600;
  color: darkorange;
  text-align: left;
  width: 40%;
}

.score {
  color: darkblue;
  font-size: 1.8rem;
  width: 20%;
}

.performer-row .highlighted {
  color: darkgreen
}

