
body {
  padding: 3rem;
  font-size: 10px;
  --main-font: Helvetica, sans-serif;
  font-family: var(--main-font);
}

.container {
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

input {
  height: 2.2rem;
  width: 20rem;
  font-size: 2rem;
  font-family: var(--main-font);
  font-weight: 500;
}

.input__container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.input__container h2 {
  font-family: var(--main-font);;
  font-size: 1.3rem;
  margin: 0;
}

.name-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.message {
  font-size: 2.5rem;
}

.my-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}